<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-barcode.js"></script>
</head>
<div id="bc"></div>
<script>
$("#bc").barcode("<% code %>", "ean13", {barWidth:2, barHeight:70});
</script>
</body>
</html>

