<h2>Filstapaper</h2>

<p><a href="javascript:function%20iprl5(){var%20d=document,z=d.createElement('scr'+'ipt'),b=d.body;try{if(!b)throw(0);d.title='(Saving...)%20'+d.title;z.setAttribute('src','http://github.com/JEEN/Filstapaper/raw/master/etc/bookmarklet.js?u='+encodeURIComponent(d.location.href)+'&t='+(new%20Date().getTime()));b.appendChild(z);}catch(e){alert('Please%20wait%20until%20the%20page%20has%20loaded.');}}iprl5();void(0)">Read Later!!</a> 을 북마크바로 끌어다놓으세요. </p>
<p>기존에 사용하던 Instapaper 북마클릿 대신에 이걸 쓰시면 됩니다.</p>

<hr>

<img src="/images/PoweredByPerl.png" />
